<div class="tweet-form-container row">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, height: 1200, width: 1200, crop: :fill, class: "tweet-form-pic col-1" %>
  <% else %>
    <%= image_tag "blank-profile.jpg", alt: "Profile", class: "tweet-form-pic col-1" %>
  <% end %>
  <div class="col">
    <div class="tweet-form-header">
      <h5>What's Happening?</h5>
    </div>
    <div>
      <%= simple_form_for [@user, @tweet] do |f| %>
        <%= f.input :description, label: false, placeholder: "Write your tweet...", as: :text, input_html: {rows: 2}, wrapper: false %>
      </div>
      <div class="tweet-form-footer">
        <%= f.button :submit, 'Tweet', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
