<div class="tweet-card">
  <div class="tweet-header">
    <% if tweet.user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, height: 1200, width: 1200, crop: :fill, class: "avatar" %>
    <% else %>
      <%= image_tag "blank-profile", class: "tweet-form-pic col-1" %>
    <% end %>
    <div class="user-info ">
      <span class="username m-1"><%= tweet.user.username %></span>
      <span class="handle m-1">@<%= tweet.user.username %></span>
      <span class="tweet-time m-1">2m ago</span>
    </div>
  </div>
  <div class="tweet-content">
    <p><%= tweet.description %></p>
  </div>
  <div class="tweet-actions">
    <i class="fa-regular fa-comment"></i>
    <i class="fa-solid fa-retweet"></i>
    <i class="fa-regular fa-heart"></i>
  </div>
</div>
<hr>
